Onboarding workflow/ticket-11-subitems-module-blok.json
[
  {
    "id": 9001,
    "mapper": {
      "scope": "roundtrip",
      "variables": [
        {
          "name": "dueDate",
          "value": "{{formatDate(switch(formatDate(now; \"ddd\"); \"Mon\"; addDays(now; 3); \"Tue\"; addDays(now; 3); \"Wed\"; addDays(now; 5); \"Thu\"; addDays(now; 5); \"Fri\"; addDays(now; 5); \"Sat\"; addDays(now; 4); addDays(now; 3)); \"YYYY-MM-DD\")}}"
        }
      ]
    },
    "module": "util:SetVariables",
    "version": 1,
    "metadata": { "designer": { "x": 0, "y": 1200, "name": "Due date subitems (+3 werkdagen)" } },
    "parameters": {}
  },
  {
    "id": 9002,
    "mapper": {
      "boardId": "4197869424",
      "itemId": "{{3.id}}",
      "name": "Partner in extern Slack-kanaal",
      "columnValuesToChange": [
        { "columnId": "person", "columnDataType": "people", "columnValue": { "personsAndTeams": [{ "kind": "person", "id": "{{10.leadId}}" }, { "kind": "person", "id": "80896353" }] } },
        { "columnId": "date0", "columnDataType": "date", "columnValue": { "date": "{{2.startDatum}}", "includeTime": false } },
        { "columnId": "date_mm5823e", "columnDataType": "date", "columnValue": { "date": "{{9001.dueDate}}", "includeTime": false } }
      ],
      "create_labels_if_missing": false
    },
    "module": "monday:createSubitem",
    "version": 1,
    "metadata": { "designer": { "x": 300, "y": 1000, "name": "Subitem 1: extern Slack-kanaal" } },
    "parameters": { "__IMTCONN__": 8950423 },
    "onerror": [
      {
        "id": 9101,
        "mapper": { "text": "Failed step in New Partner Onboarding V1\nPartner: {{2.company}}\nFailed step: Subitem 1 (extern Slack-kanaal)\nReason: {{9002.error}}\n\nCheck het V1-scenario in Make.", "parse": false, "idType": "channel", "mrkdwn": true, "channel": "D0ATPSA2GAX", "channelType": "im", "channelWType": "list" },
        "module": "slack:CreateMessage",
        "version": 4,
        "metadata": { "designer": { "x": 300, "y": 1300, "name": "Alert: subitem 1 mislukt" } },
        "parameters": { "__IMTCONN__": 6773974 }
      }
    ]
  },
  {
    "id": 9003,
    "mapper": {
      "boardId": "4197869424",
      "itemId": "{{3.id}}",
      "name": "Partner op Monday-board",
      "columnValuesToChange": [
        { "columnId": "person", "columnDataType": "people", "columnValue": { "personsAndTeams": [{ "kind": "person", "id": "{{10.leadId}}" }, { "kind": "person", "id": "80896353" }] } },
        { "columnId": "date0", "columnDataType": "date", "columnValue": { "date": "{{2.startDatum}}", "includeTime": false } },
        { "columnId": "date_mm5823e", "columnDataType": "date", "columnValue": { "date": "{{9001.dueDate}}", "includeTime": false } }
      ],
      "create_labels_if_missing": false
    },
    "module": "monday:createSubitem",
    "version": 1,
    "metadata": { "designer": { "x": 600, "y": 1000, "name": "Subitem 2: Monday-board" } },
    "parameters": { "__IMTCONN__": 8950423 },
    "onerror": [
      {
        "id": 9102,
        "mapper": { "text": "Failed step in New Partner Onboarding V1\nPartner: {{2.company}}\nFailed step: Subitem 2 (Monday-board)\nReason: {{9003.error}}\n\nCheck het V1-scenario in Make.", "parse": false, "idType": "channel", "mrkdwn": true, "channel": "D0ATPSA2GAX", "channelType": "im", "channelWType": "list" },
        "module": "slack:CreateMessage",
        "version": 4,
        "metadata": { "designer": { "x": 600, "y": 1300, "name": "Alert: subitem 2 mislukt" } },
        "parameters": { "__IMTCONN__": 6773974 }
      }
    ]
  },
  {
    "id": 9004,
    "mapper": {
      "boardId": "4197869424",
      "itemId": "{{3.id}}",
      "name": "Kickstart-meeting ingepland",
      "columnValuesToChange": [
        { "columnId": "person", "columnDataType": "people", "columnValue": { "personsAndTeams": [{ "kind": "person", "id": "{{10.leadId}}" }, { "kind": "person", "id": "80896353" }] } },
        { "columnId": "date0", "columnDataType": "date", "columnValue": { "date": "{{2.startDatum}}", "includeTime": false } },
        { "columnId": "date_mm5823e", "columnDataType": "date", "columnValue": { "date": "{{9001.dueDate}}", "includeTime": false } }
      ],
      "create_labels_if_missing": false
    },
    "module": "monday:createSubitem",
    "version": 1,
    "metadata": { "designer": { "x": 900, "y": 1000, "name": "Subitem 3: kickstart-meeting" } },
    "parameters": { "__IMTCONN__": 8950423 },
    "onerror": [
      {
        "id": 9103,
        "mapper": { "text": "Failed step in New Partner Onboarding V1\nPartner: {{2.company}}\nFailed step: Subitem 3 (kickstart-meeting)\nReason: {{9004.error}}\n\nCheck het V1-scenario in Make.", "parse": false, "idType": "channel", "mrkdwn": true, "channel": "D0ATPSA2GAX", "channelType": "im", "channelWType": "list" },
        "module": "slack:CreateMessage",
        "version": 4,
        "metadata": { "designer": { "x": 900, "y": 1300, "name": "Alert: subitem 3 mislukt" } },
        "parameters": { "__IMTCONN__": 6773974 }
      }
    ]
  },
  {
    "id": 9005,
    "mapper": {
      "boardId": "4197869424",
      "itemId": "{{3.id}}",
      "name": "LastPass-toegangsmap aangemaakt",
      "columnValuesToChange": [
        { "columnId": "person", "columnDataType": "people", "columnValue": { "personsAndTeams": [{ "kind": "person", "id": "{{10.leadId}}" }, { "kind": "person", "id": "80896353" }] } },
        { "columnId": "date0", "columnDataType": "date", "columnValue": { "date": "{{2.startDatum}}", "includeTime": false } },
        { "columnId": "date_mm5823e", "columnDataType": "date", "columnValue": { "date": "{{9001.dueDate}}", "includeTime": false } }
      ],
      "create_labels_if_missing": false
    },
    "module": "monday:createSubitem",
    "version": 1,
    "metadata": { "designer": { "x": 1200, "y": 1000, "name": "Subitem 4: LastPass-map" } },
    "parameters": { "__IMTCONN__": 8950423 },
    "onerror": [
      {
        "id": 9104,
        "mapper": { "text": "Failed step in New Partner Onboarding V1\nPartner: {{2.company}}\nFailed step: Subitem 4 (LastPass-map)\nReason: {{9005.error}}\n\nCheck het V1-scenario in Make.", "parse": false, "idType": "channel", "mrkdwn": true, "channel": "D0ATPSA2GAX", "channelType": "im", "channelWType": "list" },
        "module": "slack:CreateMessage",
        "version": 4,
        "metadata": { "designer": { "x": 1200, "y": 1300, "name": "Alert: subitem 4 mislukt" } },
        "parameters": { "__IMTCONN__": 6773974 }
      }
    ]
  },
  {
    "id": 9006,
    "mapper": {
      "boardId": "4197869424",
      "itemId": "{{3.id}}",
      "name": "Brandbook + tone-of-voice binnen",
      "columnValuesToChange": [
        { "columnId": "person", "columnDataType": "people", "columnValue": { "personsAndTeams": [{ "kind": "person", "id": "{{10.leadId}}" }, { "kind": "person", "id": "80896353" }] } },
        { "columnId": "date0", "columnDataType": "date", "columnValue": { "date": "{{2.startDatum}}", "includeTime": false } },
        { "columnId": "date_mm5823e", "columnDataType": "date", "columnValue": { "date": "{{9001.dueDate}}", "includeTime": false } }
      ],
      "create_labels_if_missing": false
    },
    "module": "monday:createSubitem",
    "version": 1,
    "metadata": { "designer": { "x": 1500, "y": 1000, "name": "Subitem 5: brandbook + tone-of-voice" } },
    "parameters": { "__IMTCONN__": 8950423 },
    "onerror": [
      {
        "id": 9105,
        "mapper": { "text": "Failed step in New Partner Onboarding V1\nPartner: {{2.company}}\nFailed step: Subitem 5 (brandbook)\nReason: {{9006.error}}\n\nCheck het V1-scenario in Make.", "parse": false, "idType": "channel", "mrkdwn": true, "channel": "D0ATPSA2GAX", "channelType": "im", "channelWType": "list" },
        "module": "slack:CreateMessage",
        "version": 4,
        "metadata": { "designer": { "x": 1500, "y": 1300, "name": "Alert: subitem 5 mislukt" } },
        "parameters": { "__IMTCONN__": 6773974 }
      }
    ]
  },
  {
    "id": 9007,
    "filter": {
      "name": "Alleen bij onvolledige intake",
      "conditions": [[{ "a": "{{length(2.ontbrekend)}}", "b": "0", "o": "number:greater" }]]
    },
    "mapper": {
      "boardId": "4197869424",
      "itemId": "{{3.id}}",
      "name": "Ontbrekende intake-info: {{2.ontbrekend}}",
      "columnValuesToChange": [
        { "columnId": "person", "columnDataType": "people", "columnValue": { "personsAndTeams": [{ "kind": "person", "id": "{{10.leadId}}" }, { "kind": "person", "id": "80896353" }] } },
        { "columnId": "date0", "columnDataType": "date", "columnValue": { "date": "{{2.startDatum}}", "includeTime": false } },
        { "columnId": "date_mm5823e", "columnDataType": "date", "columnValue": { "date": "{{9001.dueDate}}", "includeTime": false } }
      ],
      "create_labels_if_missing": false
    },
    "module": "monday:createSubitem",
    "version": 1,
    "metadata": { "designer": { "x": 1800, "y": 1000, "name": "Subitem 6: ontbrekende intake-info (alleen bij gemis)" } },
    "parameters": { "__IMTCONN__": 8950423 },
    "onerror": [
      {
        "id": 9106,
        "mapper": { "text": "Failed step in New Partner Onboarding V1\nPartner: {{2.company}}\nFailed step: Subitem 6 (ontbrekende intake-info)\nReason: {{9007.error}}\n\nCheck het V1-scenario in Make.", "parse": false, "idType": "channel", "mrkdwn": true, "channel": "D0ATPSA2GAX", "channelType": "im", "channelWType": "list" },
        "module": "slack:CreateMessage",
        "version": 4,
        "metadata": { "designer": { "x": 1800, "y": 1300, "name": "Alert: subitem 6 mislukt" } },
        "parameters": { "__IMTCONN__": 6773974 }
      }
    ]
  },
  {
    "id": 9008,
    "mapper": {
      "select": "map",
      "file": "1_zPMdVfykJO1-2A0all2zHFiwp20OrB-c5rVgqGrQ6U",
      "folderId": "{{965.id}}",
      "name": "Kickstart-format - {{2.company}}"
    },
    "module": "google-drive:copyAFile",
    "version": 4,
    "metadata": { "designer": { "x": 2100, "y": 1000, "name": "Kickstart-format kopieren naar projectmap" } },
    "parameters": { "__IMTCONN__": 3434372 },
    "onerror": [
      {
        "id": 9107,
        "mapper": { "text": "Failed step in New Partner Onboarding V1\nPartner: {{2.company}}\nFailed step: Kickstart-format kopieren\nReason: {{9008.error}}\n\nCheck het V1-scenario in Make.", "parse": false, "idType": "channel", "mrkdwn": true, "channel": "D0ATPSA2GAX", "channelType": "im", "channelWType": "list" },
        "module": "slack:CreateMessage",
        "version": 4,
        "metadata": { "designer": { "x": 2100, "y": 1300, "name": "Alert: kickstart-format mislukt" } },
        "parameters": { "__IMTCONN__": 6773974 }
      }
    ]
  }
]
